* {
  box-sizing: border-box;
  border-radius: 10px;
}

html {
  width: 116%;
  height: 117%;
  font-family: san-serif;
  background-image: linear-gradient(
      45deg,
      rgb(15 15 14 / 20%),
      rgb(255 152 0 / 10%)
    ),
    linear-gradient(to top, rgb(0 0 0 / 60%), rgb(255 152 0 / 32%)),
    url(image/food1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s linear all;
  overflow: hidden;
}

fieldset,
.div1 {
  width: 50%;
  height: 80vh;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  border: 5px groove rgb(236 220 220 / 50%);
  box-shadow: 2px 2px 50px 0px #191818ba inset;
  margin-left: 25%;
  margin-top: -1%;
}

.field1 {
  width: 49%;
  height: 105vh;
  position: absolute;
  left: 1%;
  top: -5%;
  overflow: hidden;
  animation: pop 1000ms linear 1;
  font-family: sans-serif;
}

.field2 {
  width: 50%;
  position: absolute;
  left: 80%;
  top: 5%;
  border: 10px solid #312c2c8f;
  overflow: hidden;
  display: none;
}

fieldset img {
  width: 100%;
  height: 36%;
  position: relative;
  left: 0%;
  top: -9%;
  opacity: 0;
  animation: fadeIn 1s 0.5s ease-out 1 forwards;
}

h3 {
  font-size: 1.2em;
  margin-top: -10%;
  letter-spacing: 0.2rem;
  color: ghostwhite;
  position: relative;
  top: 3%;
  animation: fadeIn 1000ms 1s ease-out 1 forwards;
  opacity: 0;
  text-shadow: 2px 2px 10px black;
}

#one {
  animation: SlideIn1 1000ms 1s ease-out 1 forwards;
}

#two {
  animation: fadeIn 1000ms 1s ease-out 1 forwards;
}

#three {
  animation: SlideIn2 1000ms 1s ease-out 1 forwards;
}

h1 {
  font-size: 4.5vw;
  color: ghostwhite;
  display: inline-flex;
  position: relative;
  text-shadow: 2px 2px 10px black;
  opacity: 0;
}

.field1 #register {
  margin-top: 6%;
}

.field2 #mainlogo {
  width: 35%;
  height: 55%;
  position: relative;
  left: 15%;
  z-index: 3;
  transform: scale(0.6) translate(14vh, -8vh);
}

.field2 h1 {
  transform: scale(0.4) translate(-29vh, -20vh);
  letter-spacing: 14px;
  font-family: sans-serif;
}

.admin1 span img {
  width: 51%;
  height: 13.5vh;
  position: relative;
  left: 18%;
  top: 6%;
}

#paging2 {
  overflow-y: hidden;
}

#page1 {
  width: 50vw;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: absolute;
  top: 20%;
}

#page1 a {
  width: 14vw;
  display: inline-flex;
  height: 7vh;
  font: icon;
  font-weight: 700;
  color: blanchedalmond;
  text-shadow: -1px 2px 3px #4a4646;
  background: rgb(70 68 65);
}

span {
  padding: 1em 5em;
}

.logolabel {
  width: 50vh;
  margin: 0;
}

legend {
  height: 15%;
  text-align: center;
  position: relative;
  top: 30%;
}

.admin1 {
  width: 72vw;
  height: 33.05vh;
  position: relative;
  top: -8.3%;
  left: -15.3%;
  transform: scale(0.7);
  background: #26262196;
}

label {
  width: 23vw;
  position: relative;
  left: -6%;
}

label span {
  font-family: -webkit-pictograph;
  font-weight: bold;
  color: #5a5555;
  width: 100%;
  letter-spacing: 0.4px;
  padding: 1em 1.5em;
  position: absolute;
  left: 0%;
  z-index: 2;
  font-weight: bold;
}

.inputfont {
  width: 36%;
  font-size: smaller;
  display: inline-flex;
  padding: 10px 15px;
  text-align: center;
  background: ghostwhite;
  transform: translate(0.8vh, -2.7vh);
  line-height: 0.5;
  transition: transform 200ms ease-in-out;
  box-shadow: 0 1px 0 #787676;
  background: cornsilk;
}

.spanImg {
  width: 3vw;
  height: 3.5vh;
  border-radius: 0;
  border-right-style: groove;
  margin: -8% 4% -1% -8%;
}

.inputImg {
  width: 2vw;
  height: 2.5vh;
  margin: -8% 6% 1% -17%;
}

input {
  font-family: -webkit-pictograph;
  font-weight: bold;
  color: #464141;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  letter-spacing: 1px;
  box-shadow: -1px -1px 5px 1px #948a8a inset, 1px 1px 1px 1px #625a5a;
  border: 3px solid #f8c98394;
}

input:focus {
  outline: none;
}

select {
  width: 17vw;
  height: 5vh;
  font-size: 14px;
  border-radius: 20px;
  background: #fefefe;
  border: none;
  box-shadow: 0px 2px 2px inset grey;
  padding: 10px 2px 10px 11px;
  position: absolute;
}

.page {
  width: 50vw;
  height: 78vh;
  display: grid;
  position: absolute;
  top: -0.4%;
  left: 0%;
  background: rgb(85 83 81 / 52%);
}

.subpage2 {
  display: grid;
  grid-area: auto;
  width: 48.7vw;
  height: 63vh;
  position: absolute;
  top: 23%;
  padding: 3em 9em 7em 15em;
  grid-template-columns: 20em;
  grid-template-rows: 4vh 4vh 4vh 4vh 0vh;
  row-gap: 4em;
  background: linear-gradient(45deg, #c67, #c67a43);
}

#subpage3 {
  top: 0%;
}

.sub {
  position: absolute;
  left: 0%;
  height: 100vh;
}

.pg1 {
  left: 100%;
}

#page3 {
  left: 76%;
}

.addfield2 {
  border-bottom: 3px solid cornflowerblue;
  box-shadow: 1px -2px 4px 0 #494545d1 inset;
  opacity: 1;
}

section {
  position: absolute;
  top: 60%;
  left: 30%;
}

section button {
  width: 10vw;
  height: 6vh;
  border-radius: 10px;
  background: #ff9800;
  color: ghostwhite;
  border: none;
  font-weight: bold;
  font-size: 16px;
  margin: 24px 9px 24px 0px;
  box-shadow: 0px -2px 2px #191a18d4 inset;
  transition: background-color 300ms linear all, transform 1s linear all;
  animation: fadeInUp 1000ms 1s ease-in 1 backwards;
}

.subpage2 section button {
  background: #5ea35e;
  text-shadow: 0 0 0px #fef5f5;
  font: caption;
  position: relative;
  left: -15%;
  margin: 4% 4% 4% 1%;
  letter-spacing: 1px;
  transition: box-shadow 100ms linear;
}

.subpage2 section {
  width: 52vw;
  left: 45%;
  margin-top: 7%;
}

.subpage2 #Account {
  font-size: small;
  margin-left: -60%;
  padding: 0.1em 0.1em 0.1em 0.4em;
  width: 52vh;
  position: absolute;
  top: 100%;
  font-weight: 700;
  color: #3a2e2e;
}

.field1 #headbutt button:hover {
  background-color: #ea8200;
}

button:hover {
  box-shadow: 0px -2px 10px 0px #191a18d4 inset;
}

#buttlogo:hover {
  box-shadow: 0px 1px 10px 0px #191a18d4 inset;
}
.subpage2 .forgot a {
  color: #fae4f3;
  font-weight: 700;
  font-size: smaller;
  font-family: sans-serif;
  letter-spacing: 0.15em;
  text-shadow: 0 0 black;
  text-decoration: none;
}

.subpage2 .forgot {
  padding: 1em;
  position: relative;
  left: 48%;
  top: -160%;
  color: #572525bf;
  font-weight: bold;
  font-family: sans-serif;
}

.subpage2 .forgot1 {
  margin-top: -13%;
  position: relative;
  left: 25%;
  top: -49%;
  padding: 1em;
}
#result {
  position: absolute;
  left: 20%;
  top: 61%;
}

#buttLogo {
  width: 21vw;
  height: 3vw;
  margin-top: -4em;
  margin-left: -0.5em;
  border: 2px solid #b2b9b2;
  background: #5ea35e;
  color: #ffffff;
  box-shadow: 0px -2px 2px 0px #191a18d4 inset;
}

#result1 {
  padding: 10px 20px;
}

#output {
  padding: 8px 20px 8px 20px;
  font-weight: 700;
  color: rgb(204 3 3 / 65%);
  text-shadow: 0 0 #534c4c;
  background-color: #e57f7feb;
}

#output1 {
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 20px;
  font-weight: 700;
  color: rgb(204 3 3 / 65%);
  text-shadow: 0 0 #534c4c;
  background-color: #e57f7feb;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-0.4em);
  }
  100% {
    opacity: 1;
    animation-play-state: paused;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(0.4em);
  }
  100% {
    opacity: 1;
    animation-play-state: paused;
  }
}

@keyframes SlideIn1 {
  0% {
    opacity: 0;
    transform: translateX(-0.4em);
  }
  100% {
    opacity: 1;
    animation-play-state: paused;
  }
}

@keyframes SlideIn2 {
  0% {
    opacity: 0;
    transform: translateX(0.4em);
  }
  100% {
    opacity: 1;
    animation-play-state: paused;
  }
}

@keyframes pop {
  0% {
    transform: scale(0.95) translateY(-0.2em);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    transform: translateX(-5.4em);
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    display: none;
  }
}

@media (min-height: 600px) and (max-height: 783px) {
  .subpage2 section button {
    left: -2%;
    margin-top: 5%;
  }
  .subpage2 #Account {
    margin-top: 0;
    left: 57%;
  }
  .subpage2 {
    row-gap: 3.7em;
  }
  .subpage2 .forgot1 {
    left: -32%;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .loglabel {
    left: -52%;
  }

  label {
    position: relative;
    left: -30%;
  }

  label input {
    width: 100%;
  }

  legend {
    padding: 2.2em 1em;
  }

  h3 {
    position: relative;
    top: 25%;
    font-size: 0.7em;
    margin: -3em;
  }

  h1 {
    font-size: 2.5em;
  }

  #register {
    font-size: 2em;
    margin-top: 0%;
  }

  fieldset #firstlogo {
    top: -10%;
    transform: scale(0.6);
  }

  #subpage3 label input {
    width: 85%;
  }

  .page {
    width: 62vh;
  }

  section {
    position: relative;
    top: 18%;
    left: 16%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  fieldset {
    width: 71%;
    height: 46vh;
    position: absolute;
    left: -14%;
    transform: scale(1.2, 1.3);
  }

  .field1 {
    width: 108vw;
    height: 103vh;
    top: -5%;
    left: -28%;
    animation: pop 300ms ease-out 1;
  }

  .field2 {
    width: 98vw;
    margin-left: 0%;
    padding-left: 7em;
  }

  .admin1 {
    width: 138vw;
  }

  .field2 #mainlogo {
    width: 39%;
    left: -13%;
    transform: scale(1.1) translate(6vh, -7vh);
  }

  .subpage2 {
    width: 145vh;
    padding-left: 14em;
    row-gap: 3.3em;
  }

  .inputfont {
    width: 30%;
    height: 4vh;
    justify-content: center;
    transform: translate(1.8vh, -2.8vh);
  }

  #subpage3 label input {
    width: 100%;
  }

  label {
    width: 80vw;
    position: relative;
    left: -56%;
    margin-top: -8%;
  }

  .subpage2 section {
    position: relative;
    width: 100vh;
    left: -38%;
    top: -11%;
    transform: scale(1.1);
  }

  .subpage2 section button {
    min-width: 28.8vw;
    left: -4%;
    margin-top: 2%;
    font-size: 14px;
    animation: fadeInUp 300ms 0.5s ease-in 1 backwards;
  }

  .field2 #one {
    transform: scale(0.5) translate(-63vw, -9vh);
    font-size: 3em;
    width: 100%;
    position: absolute;
    top: 50%;
  }

  .subpage2 #Account {
    position: absolute;
    margin-top: -2%;
    left: 59%;
    font-size: x-small;
  }

  #subpage3 {
    width: 83%;
  }

  .loglabel {
    width: 69vw;
    left: -56%;
  }

  .subpage2 .forgot {
    padding: 1em;
    position: relative;
    left: -30%;
    margin-top: -7%;
    font: small-caption;
  }

  .subpage2 .forgot1 {
    left: -40%;
    margin-top: -20%;
  }

  #buttLogo {
    width: 32vw;
    height: 7vh;
    margin-top: -25%;
    position: relative;
    left: -30%;
  }

  #result {
    width: 32vw;
    margin-left: -25%;
  }

  #result {
    width: 98vw;
    padding: 9px 5em;
    text-align: center;
    font: icon;
    margin-left: -21%;
    font-size: small;
  }

  #headbutt button {
    width: calc(17.5vw * 1.5);
    height: calc(5vh);
    color: ghostwhite;
    font-size: 12px;
    position: relative;
    margin-top: auto;
    left: 6%;
  }

  fieldset img {
    animation: fadeIn 300ms 0.3s ease-out 1 forwards;
  }

  .loglabel span img {
    width: 11vw;
    margin-right: 5%;
  }

  .spanImg {
    margin-right: 5%;
    margin-left: -5%;
    border: none;
    width: auto;
  }
  #one {
    animation: SlideIn1 300ms 0.6s ease-out 1 forwards;
  }

  #two {
    animation: fadeIn 300ms 0.6s ease-out 1 forwards;
  }

  #three {
    animation: SlideIn2 300ms 0.6s ease-out 1 forwards;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .field1 {
    height: 106vh;
  }
  h1 {
    font-size: 3.5em;
  }

  .field1 #register {
    font-size: 3em;
    margin-top: 1%;
  }

  h3 {
    font-size: 0.91em;
  }

  #headbutt button {
    width: 24vh;
    transform: translate(-8vh);
  }

  .inputfont {
    transform: translate(0.8vh, -2.2vh);
  }

  legend {
    padding: 2em 1em;
  }

  .field1 {
    min-width: 84.8vh;
    left: -6%;
    top: -6%;
  }

  .sub {
    min-width: 63.5vw;
    height: 86vh;
    left: 0%;
    padding-top: 2em;
  }

  .subpage2 {
    height: 94vh;
    min-width: 76.5vw;
    left: 0%;
    row-gap: 3.1em;
    padding: 3em 9em 7em 16.5em;
  }

  .pg2 {
    width: 125vw;
  }

  .field2 {
    min-width: 95vh;
    margin-left: 16%;
  }

  .admin1 {
    width: 138vh;
  }

  .subpage2 section {
    top: 70%;
    margin-left: -7%;
  }

  .subpage2 section button {
    min-width: 20.8vh;
    left: -17vh;
    margin-top: -2%;
  }

  .subpage2 #Account {
    position: absolute;
    margin-top: 6%;
    left: 37%;
    font-size: small;
  }

  .subpage2 .forgot {
    font: small-caption;
    margin-top: 3%;
    left: 14%;
  }

  .subpage2 .forgot1 {
    left: -18%;
    margin-top: -20%;
  }

  label {
    width: 39vw;
    position: relative;
    left: -47%;
  }

  .field2 label {
    position: relative;
    left: -38%;
  }

  .field2 #mainlogo {
    left: 16%;
  }

  .field2 #one {
    margin-left: 30%;
    transform: scale(0.5) translate(3vh, -46vh);
  }

  #subpage3 #buttlogo {
    width: 45vh;
    height: 6vh;
    margin-left: -31%;
  }

  .spanImg {
    width: 5vw;
    margin-left: -6%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  label {
    width: 50vw;
    position: relative;
    left: -30%;
    margin-top: -9%;
  }

  .field1 {
    width: 82vh;
    left: -24%;
  }

  .subpage2 {
    width: 92vh;
  }

  .field2 {
    width: 89vw;
    margin-left: 7%;
    padding-left: 7em;
  }

  .pg2,
  .admin1 {
    width: 125vw;
  }

  #buttLogo {
    width: 41vw;
    height: 7vh;
    position: relative;
    left: -35%;
  }

  #subpage3 {
    width: 119%;
  }

  .subpage2 section button {
    min-width: 20.8vw;
    left: -8%;
  }

  .subpage2 #Account {
    margin: 2% -48%;
  }

  .field2 #one {
    transform: scale(0.5) translate(-7vh, -15vh);
    font-size: 4em;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 20vw;
  }

  .loglabel {
    width: 55vw;
    left: -46%;
    margin-top: 0%;
  }

  .subpage2 .forgot {
    left: -10%;
    font-size: 14px;
    margin-top: -2%;
  }

  .subpage2 .forgot1 {
    margin-top: -12%;
    left: -26%;
  }

  .subpage2 section {
    left: -11%;
    margin-top: -9%;
  }

  #headbutt button {
    width: calc(14vw * 1.5);
  }

  #result {
    width: 98vw;
    padding: 0px 15em;
    text-align: center;
    font: icon;
    font-size: small;
  }

  .spanImg {
    width: 7vw;
  }

  .inputfont {
    width: 37%;
    padding: 10px 15px;
    transform: translate(1.8vh, -2.5vh);
  }
}

@media (width: 1024px) {
  #subpage3 {
    width: auto;
    padding: 3em 9em 7em 19em;
  }

  .field1 {
    height: 110vh;
  }

  .field2 {
    min-width: 116.8vh;
    margin-left: 18vw;
  }

  h1 {
    font-size: 3.5em;
  }

  .field1 #register {
    font-size: 3em;
    margin-top: -1%;
  }

  h3 {
    font-size: 0.91em;
  }

  legend {
    padding: 2.2em 1em;
  }

  label {
    width: auto;
  }

  .field2 h1 {
    transform: scale(0.5) translate(-7vh, -17vh);
    letter-spacing: 14px;
  }

  .pg2 {
    min-width: 114.8vh;
  }

  .admin1 {
    width: 173.8vh;
  }
  .subpage2 {
    min-width: 114.8vh;
    row-gap: 3.5em;
  }
  .subpage2 section {
    top: 65%;
    left: 16%;
  }
  #subpage3 #buttlogo {
    height: 6vh;
    width: 42vh;
    margin-left: -24%;
  }
  .field1 label {
    width: auto;
    position: relative;
    left: -44%;
  }
  .field2 label {
    position: relative;
    left: -37%;
  }

  .subpage2 #Account {
    left: 60%;
  }
  .subpage2 section button {
    width: 14vw;
    height: 6vh;
  }
  .subpage2 .forgot {
    left: 10%;
  }
  .subpage2 .forgot1 {
    margin-top: -21%;
    left: -10%;
  }
}

@media (min-width: 320px) and (max-width: 321px) {
  #Account {
    left: -48%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .field1 {
    height: 110vh;
    transform: scale(0.95);
    row-gap: 3.3em;
  }

  .field2 {
    height: 90%;
  }

  #buttLogo {
    margin-left: -2.5em;
  }

  .field2 h1 {
    transform: scale(0.5) translate(-24vh, -16vh);
  }

  .subpage2 {
    height: 70vh;
  }

  .subpage2 section button {
    left: -18%;
  }

  .subpage2 #Account {
    margin-top: 0%;
    margin-left: -68%;
  }

  label {
    left: -15%;
  }

  .sub {
    height: 104vh;
    padding-top: 2em;
    row-gap: 3.8em;
  }

  .subpage2 .forgot {
    left: 37%;
    top: -206%;
  }

  .subpage2 .forgot1 {
    left: 9%;
  }
}

@media (width: 1024px) {
  .subpage2 {
    height: 94vh;
    min-width: 76.5vw;
    left: 0%;
    row-gap: 3.1em;
    padding-left: 15.5em;
  }

  .field1 {
    height: 110vh;
    min-width: 84.8vh;
    left: -1%;
    top: -6%;
  }

  .subpage2 section button {
    min-width: 19.8vh;
    left: -4.5%;
    margin-top: 4%;
  }
}
